#READ and SET environment variables

##Create temp file
tmppipe=$(mktemp -u)

##Extract credential from other source like vault
#
cat bosh-ctrl-plane/creds.yml > $tmppipe

export BOSH_ENVIRONMENT=10.0.0.6
export BOSH_CA_CERT=$(bosh int $tmppipe --path /default_ca/ca)
export BOSH_CLIENT=admin
export BOSH_CLIENT_SECRET=$(bosh int $tmppipe --path /admin_password)
export CREDHUB_CLIENT=credhub-admin
export CREDHUB_SECRET=$(bosh int $tmppipe --path /credhub_admin_client_secret)
export CREDHUB_SERVER="https://$BOSH_ENVIRONMENT:8844"
export CREDHUB_CA_CERT=$(bosh int $tmppipe --path /credhub_ca/ca;bosh int $tmppipe --path /uaa_ssl/ca)

##cleanup
rm $tmppipe
