# Repositories 
bosh-deployment
kubo-deployment
concourse-bosh-deployment

## Private files
creds.yml
cluster-creds.yml
creds.yml
gcp-bosh-serviceaccount.json
*.pem
vars.yml
cloud-config.yml
state.json

## Misc
installer
vendor
