#READ and SET environment variables
export CONCOURSE_ENVIRONMENT=$(bosh int vars.yml --path /concourse_domain_name)
export CREDHUB_CLIENT=concourse_to_credhub
export CREDHUB_SECRET=$(cd ../bosh-vsphere/ && source .envrc; credhub get -n /bosh-oss-vsphere/concourse/concourse_to_credhub_secret -j|jq -r '.value')
export CREDHUB_CA_CERT=$(cd ../bosh-vsphere/ && source .envrc; credhub get -n /bosh-oss-vsphere/concourse/atc_tls -k ca; credhub get -n /bosh-oss-vsphere/concourse/atc_ca -k ca)
export CREDHUB_SERVER="https://$CONCOURSE_ENVIRONMENT:8844"
